.container {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    transform: translate(-50%,-50%);
    width: 50%;
    border-radius: 10px;
    padding: 1em;
}

button {
    background-color: #6a5acd;
    color: #ffffff;
    border: none;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #000000;
    cursor: pointer;
}

button:hover {
    background-color: #4682b4;
}

input {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

#resultado {
    font-weight: bold;
    font-size: 25px;
}

.final-step, .second-step {
    display: none;
}